xml-resources/web-service-references/flightsBookingWS/wsdl/localhost_8080/FlightBookingWS/flightsBookingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://FlightsBookingWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://FlightsBookingWS/" name="flightsBookingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://FlightsBookingWS/" schemaLocation="http://localhost:8080/FlightBookingWS/flightsBookingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="Unmarshaller">
<part name="parameters" element="tns:Unmarshaller"/>
</message>
<message name="UnmarshallerResponse">
<part name="parameters" element="tns:UnmarshallerResponse"/>
</message>
<message name="getAvailableFlights">
<part name="parameters" element="tns:getAvailableFlights"/>
</message>
<message name="getAvailableFlightsResponse">
<part name="parameters" element="tns:getAvailableFlightsResponse"/>
</message>
<message name="searchFlightCityToCity">
<part name="parameters" element="tns:searchFlightCityToCity"/>
</message>
<message name="searchFlightCityToCityResponse">
<part name="parameters" element="tns:searchFlightCityToCityResponse"/>
</message>
<message name="searchFlightToOrFromCity">
<part name="parameters" element="tns:searchFlightToOrFromCity"/>
</message>
<message name="searchFlightToOrFromCityResponse">
<part name="parameters" element="tns:searchFlightToOrFromCityResponse"/>
</message>
<message name="searchFlightDirectFlight">
<part name="parameters" element="tns:searchFlightDirectFlight"/>
</message>
<message name="searchFlightDirectFlightResponse">
<part name="parameters" element="tns:searchFlightDirectFlightResponse"/>
</message>
<message name="searchFlightForCity">
<part name="parameters" element="tns:searchFlightForCity"/>
</message>
<message name="searchFlightForCityResponse">
<part name="parameters" element="tns:searchFlightForCityResponse"/>
</message>
<portType name="flightsBookingWS">
<operation name="bookFlight">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/bookFlightResponse" message="tns:bookFlightResponse"/>
</operation>
<operation name="Unmarshaller">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/UnmarshallerRequest" message="tns:Unmarshaller"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/UnmarshallerResponse" message="tns:UnmarshallerResponse"/>
</operation>
<operation name="getAvailableFlights">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/getAvailableFlightsRequest" message="tns:getAvailableFlights"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/getAvailableFlightsResponse" message="tns:getAvailableFlightsResponse"/>
</operation>
<operation name="searchFlightCityToCity">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightCityToCityRequest" message="tns:searchFlightCityToCity"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightCityToCityResponse" message="tns:searchFlightCityToCityResponse"/>
</operation>
<operation name="searchFlightToOrFromCity">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightToOrFromCityRequest" message="tns:searchFlightToOrFromCity"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightToOrFromCityResponse" message="tns:searchFlightToOrFromCityResponse"/>
</operation>
<operation name="searchFlightDirectFlight">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightDirectFlightRequest" message="tns:searchFlightDirectFlight"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightDirectFlightResponse" message="tns:searchFlightDirectFlightResponse"/>
</operation>
<operation name="searchFlightForCity">
<input wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightForCityRequest" message="tns:searchFlightForCity"/>
<output wsam:Action="http://FlightsBookingWS/flightsBookingWS/searchFlightForCityResponse" message="tns:searchFlightForCityResponse"/>
</operation>
</portType>
<binding name="flightsBookingWSPortBinding" type="tns:flightsBookingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Unmarshaller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlightCityToCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlightToOrFromCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlightDirectFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlightForCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="flightsBookingWS">
<port name="flightsBookingWSPort" binding="tns:flightsBookingWSPortBinding">
<soap:address location="http://localhost:8080/FlightBookingWS/flightsBookingWS"/>
</port>
</service>
</definitions>